body {
  margin: 0px;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
}

/**********Section 1***********/

#section1 {
  background-color: #e5e5e5;
  height: 700px;
  width: 100%;
  float: left;
  margin-top: 0px;
  padding-top: 0;
  overflow: hidden;
}
.links-left {
  float: left;
  position: relative;
  z-index: 25;
}
#logo {
  float: left;
  margin-left: 50px;
  position: relative;
  z-index: 25;
  width: 100px;
}

header ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 20;
}
header li {
  display: inline-block;
  margin-left: 130px;
  margin-top: 70px;
  z-index: 25;
  color: black;
}

#link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.links > .logo {
  margin-top: -80px;
  font-size: 50px;
}

.links > .logo > span {
  font-size: 120px;
  margin-top: 0px;
}

.links > .logo > li {
  font-size: 100px;
  margin-top: 0px;
}

.eating {
  height: 500px;
  width: 60%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 100%;
  background-color: #6cb840;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.p-title {
  width: 500px;
  margin: 100px 0px 0px 170px;
}
.p-title > h1,
h2,
p {
  padding: 0px 20px 0px 50px;
}

.p-title > h1 {
  font-size: 60px;
  color: #6cb840;
}

.p-title > h1 > span {
  color: #eaab1b;
}

.p-title > h2 {
  font-size: 30px;
}

.p-title > p {
  font-size: 22px;
}

.p-title > #order {
  background-color: #6cb840;
  padding: 15px 30px 15px 30px;
  font-size: 20px;
  margin: 25px 0px 20px 50px;
  border-radius: 25px 25px;
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/**********Section 2***********/
#section2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 600px;
}

#eat-together {
  width: 30%;
  text-align: center;
  margin-top: 100px;
  padding: 0px 80px 0px 0px;
}

#img-share {
  margin-top: 0px;
}
#eat-together > h2 {
  font-size: 45px;
  color: #eaab1b;
}

#eat-together > p {
  font-size: 20px;
  font-weight: 300px;
}

/********Section3***************/
#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e5e5e5;
  opacity: 0.9;
}

#section3 > h2 {
  font-size: 30px;
}

#section3 > h2 > span {
  color: #6cb840;
}

#section3 > .burgers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.burgers > #column {
  width: 30%;
  margin: 10px;
  display: inline-flex;
}

#description {
  background-color: rgb(247, 247, 247);
  border-bottom-right-radius: 50px;
  height: 190px;
  width: 50%;
  margin-left: -150px;
  z-index: -1;
}

.burgers > #column > #description > h3 {
  font-weight: bold;
  margin: 5px 0px 5px 10px;
}

.burgers > #column > #description > p {
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
  margin-left: 50px;
}

/***************Section4*********************/

#section4 {
  margin-top: 0px;
  padding-top: 5px;
  background-color: #c9ecb5;
  height: 650px;
  width: 100%;
}
#section4 > h2 {
  text-align: center;
  font-size: 30px;
}

#section4 > h2 > span {
  color: #6cb840;
}

#section4 > .combos > #special-combo {
  height: 400px;
  width: 500px;
  margin-left: 100px;
  margin-top: 50px;
}

#section4 > .combos {
  display: flex;
}

#section4 > .combos > .combos-images {
  display: inline-flex;
  justify-content: center;
}

#section4 > .combos > .combos-images > #juice {
  margin-top: -150px;
  margin-left: 300px;
}

#section4 > .combos > .combos-images > #burger {
  margin-left: -400px;
  margin-top: 200px;
}

#section4 > .combos > #special-combo > h1 {
  font-size: 50px;
  color: #6cb840;
}

#section4 > .combos > #special-combo > h2 {
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}

#section4 > .combos > #special-combo > p {
  font-size: 20px;
  text-align: center;
}

/********************section5**********************/
#section5 {
  margin-top: 0px;
  padding-top: 5px;
  background-color: #ffd77c;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#section5 > h2 > span {
  color: #6cb840;
}

#section5 > p {
  text-align: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 40px;
  width: 400px;
  font-size: 20px;
}

#section5 > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 0px;
}

#section5 > form > #email {
  padding: 15px;
  width: 500px;
  border-radius: 25px 25px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
#section5 > form > #email:focus {
  outline: none;
}

#section5 > form > #btn {
  padding: 12px;
  width: 200px;
  border-radius: 25px 25px;
  border: none;
  background-color: #6cb840;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/**********Section 6***********/
footer {
  padding: 00px 110px 00px 110px;
}

.footer {
  padding: 75px 10px 75px 20px;
  display: flex;
  justify-content: space-between;
}

.hrs {
  display: inline-flex;
  line-height: 1.6rem;
}
.time {
  padding-right: 35px;
  margin-right: 55px;
  border-right: 3px dotted;
}
#tel {
  font-weight: 570;
  border-left: 20px;
  width: 300px;
  line-height: 1.6;
  margin-right: 200px;
}

.social {
  display: inline-flex;
}

.follow {
  display: block;
}
.greencircle {
  width: 1300px;
  height: 1300px;
  background-color: #b8e79c;
  border-radius: 50%;
  transform: translate(600px, -1400px);
  overflow: hidden;
}
body {
  overflow-x: hidden;
}
.eating {
  width: 900px;
  height: 900px;
  border: 2px dashed #649549;
  border-radius: 100%;
  position: relative;
  top: 950px;
  left: 300px;
  background-color: transparent;
}
#image1 {
  position: relative;
  top: 220px;
  left: 0px;
}
#image2 {
  position: relative;
  top: 50px;
  left: 10px;
}
#image3 {
  position: relative;
  bottom: 40px;
  left: 150px;
}
#image5 {
  position: relative;
  bottom: 10px;
  left: 270px;
}
#image6 {
  position: relative;
  bottom: -110px;
  left: 300px;
}
